.example-card {
  max-width: 400px;
}

.button-container {
  display: flex;
  flex-direction: row;
}
.mat-success {
  background-color: #77ab59;
  color: #fff;
}

.restaurant-card-container {
  position: relative;
  padding-top: 7%;
  padding-left: 7%;
  width: 90%;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.restaurant-details {
  position: fixed;
  top: 15%;
  right: 3%;
  width: 60%;
}

.divider {
  margin: 5%;
}
